/* fonts */


/* DM Sans */

/* regular */

@font-face {
	font-family: "DM Sans";
	font-weight: 400;
	font-style: normal;
	src: local("DM Sans"),
		url("fonts/dm_sans/DMSans-Regular.woff2") format("woff2"),
		url("fonts/dm_sans/DMSans-Regular.woff") format("woff"),
		url("fonts/dm_sans/DMSans-Regular.ttf") format("ttf"),
		url("fonts/dm_sans/DMSans-Regular.eot") format("eot");
}


/* Open Sans */

/*regular*/

@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src: local("Open Sans"),
		url("fonts/open_sans/OpenSans-Regular.woff2") format("woff2"),
		url("fonts/open_sans/OpenSans-Regular.woff") format("woff"),
		url("fonts/open_sans/OpenSans-Regular.ttf") format("ttf"),
		url("fonts/open_sans/OpenSans-Regular.eot") format("eot");
}

/* bold */

@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	src: local("Open Sans"),
		url("fonts/open_sans/OpenSans-Bold.woff2") format("woff2"),
		url("fonts/open_sans/OpenSans-Regular.woff") format("woff"),
		url("font/open_sans/OpenSans-Bold.ttf") format("ttf"),
		url("fonts/open_sans/OpenSans-Bold.eot") format("eot");
}