.page,
.page__body {
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
}


.body__wrapper {
	position: relative;

	width: 100%;

	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}


.wrapper__bg {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;

	transform: translateX(-50%);

	width: 100%;
}