.page,
.page__body {
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
}


.body__wrapper {
	position: relative;
	z-index: -2;

	width: 100%;

	margin: 0 auto;
}

.wrapper {
	overflow: hidden;

	background: #000000;
}

.body__wrap {
	padding: 64px 85px 0;

	max-width: 1655px;

	margin: 0 auto;
}

.wrap {
	width: 100%;
}

.inner {
	width: 100%;
}

.body__inner {
	max-width: 1461px;

	margin: 0 auto;
}


.wrapper__bg {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;

	transform: translateX(-50%);

	width: 100%;
}




/* .header */

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 60px;

	width: 100%;
}

.body__header {
	margin: 0 0 270px;
}


/* .logo */

.logo__text {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.36;
	letter-spacing: 1px;
	text-transform: uppercase;
}


/* .nav */

.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.nav__link {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.36;
}

/* .intro */

.intro {
	width: 100%;
}

.body__intro {
	margin: 0 0 730px;
}

.intro__contain {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 30%;

	margin: 0 0 100px;
}


/* .card */

.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;

	width: 100%;

	margin: 0 0 250px;
}


/* .action */

.action {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;

	width: 100%;
}

.body__action {
	margin: 0 auto 56px;
}


/* .footer */

.footer__contain {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;

	width: 100%;

	margin: 0 0 100px;
}